body{
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: monofur, monospace;
  color: white;
}
h1 {
  font-size: 2em;
}
#intro{
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/SMPTE_Color_Bars.svg/2000px-SMPTE_Color_Bars.svg.png) gray;
  background-size: contain;
  padding: 10vh 0;
}
#main-container{

  width: 100vw;
  height: 400vh;
  margin: auto 0;
}
.container{
  width: 100vw;
  height: 100vh;
  margin: auto 0;
}
#ChannelsContainer{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-content: center;
  -webkit-align-content: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
#ChannelsContainer div{
  height: 20vh;
  width: 20vh;
  margin: 5vw 5vw;
  border: 2px solid orange;
}
#ChannelsContainer h1{
  flex: 100vw;
  /*align-self: flex-start;;*/
}
iframe {
/*  align-items: center;
  justify-content: center;*/
  width: 90vw;
  height: 90vh;
}
#whyBox{

  width: 50vw;
  height: 75vh;
  background-color: rgba(193, 138, 190, 0.85);
  margin:auto;
}
#Back, #Next{
  display: none;
  width: 10vw;
  height: 5vh;
  margin: 3%;
}

button{
  display: none;
  height: 100%;
  width: 100%;
  color: rgb(34, 12, 21);
  background-color: rgb(80, 66, 72);
  border-radius: 11px;
  font-size: 16px;
}
